[project]
	description = First Git Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramkotic
[access "refs/for/refs/*"]
	read = group user/Ramkotic
	push = group user/Ramkotic
	label-Code-Review = -2..+2 group user/Ramkotic
	label-Verified = -1..+1 group user/Ramkotic
	rebase = group user/Ramkotic
	removeReviewer = group user/Ramkotic
	submit = group user/Ramkotic
[access "refs/heads/*"]
	read = group user/Ramkotic
	create = group user/Ramkotic
	push = +force group user/Ramkotic
	pushMerge = group user/Ramkotic
[access "refs/tags/*"]
	push = group user/Ramkotic
	push = +force group user/Ramkotic
